body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
}

main {
    flex-grow: 1;
}

footer {
    height: 10vh;
}

.title-text {
    font-family: 'Potta One', cursive;
}

/* 
* {
    border: 1px solid red;
} */
